<% if target.errors.any? %>
  <div class="error-messages-container">
    <h2>ЁЯЪи<%= pluralize(target.errors.count, "error") %> prevented this record from being saved:</h2>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li>тЪая╕П <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
