<footer class="flex-container">
  <div class="footer-contact-info">
    <ul>
      <li><a href="mailto:mosser.romain@gmail.com">mosser.romain@gmail.com</a></li>
      <li><a href="tel:+33699509440">+336.99.50.94.40</a></li>
      <li>Paris, France</li>
    </ul>
  </div>
  <div class="footer-social-links">
    <ul>
      <li><%= link_to image_tag('icons/twitter-icon-black.svg'), 'https://twitter.com/moromain', target: "_blank" %></li>
      <li><%= link_to image_tag('icons/linkedin-icon-black.svg'), 'https://www.linkedin.com/in/romain-mosser-a9680367/', target: "_blank" %></li>
    </ul>
  </div>
</footer>
