<section id="project-show-wrapper">

<h1><%= @project.title %></h1>
<%= @project.body.html_safe %>

<%= link_to 'Delete', @project, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'cta cta-small cta-danger' %>

</section>
